.top {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.box01 {
    flex: 1;
}

.box02 {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.box03 {
    flex: 1;
}

.info {
    font-size: 20px;
}

h2 {
    font-size: 29px;
}


.planet_detail01 {
    width: 300px;
    height: 300px;
    background-image: url(../assets/_126241775_getty_cats.jpeg);
    background-position: center;
    background-size: cover;
}


.bottom {
    width: 1300px;
    margin: 0 auto;
}

.card_area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.card_img {
    width: 302.5px;
    height: 302.5px;
    border: 1px solid rgba(0, 0, 0, 0.5)
}

.card_txt {
    display: none;
    width: 302.5px;
    height: 302.5px;
    border: 1px solid rgba(0, 0, 0, 0.5)
}