/* font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {
    font-family: 'Noto Sans KR', sans-serif;
}

.Wrap {
    background-image: url(../static/space-wallpaper.jpg);
    background-position: center;
    background-size: 100vh;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.title {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 10px;
    color: aliceblue;
}

.title p {
    font-size: 19px;
    color: #ddd;
}

.planet {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 세로에서 센터로 정렬 */
    justify-content: center;
    /* 가로에서 센터로 정렬 */
    gap: 30px;
}

.inner {
    width: 1300px;
    margin: 0 auto;

}

.inner figure {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

.planet_title {
    text-align: center;
    color: #ddd;
}

.planet_img_01 {
    background-image: url(../static/planet-imjh.png);
    background-position: center;
    background-size: cover;
}

.planet_img_02 {
    background-image: url(../static/planet-kmh.png);
    background-position: center;
    background-size: cover;
}

.planet_img_03 {
    background-image: url(../static/planet-tsk2.png);
    background-position: center;
    background-size: cover;
}

.planet_img_04 {
    background-image: url(../static/planet-ntg.png);
    background-position: center;
    background-size: cover;
}

.planet_img_05 {
    background-image: url(../static/planet-ijh.png);
    background-position: center;
    background-size: cover;
}