body {
    font-family: 'Dongle', sans-serif;
  }
  
  .bimg {
    margin: 0px;
    background-color: lightcyan;
    background-size: cover;
  }
  
  .home {
    margin-left: 109.5px;
  }
  
  .top {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    border-bottom: 20px solid white;
    background-image: url(../static/bg.jpg);
    background-position: center 60%;
    background-size: cover;
  }
  
  .box01 {
    flex: 1;
  }
  
  .box02 {
    height: 250px;
    display: flex;
    flex-direction: column;
    flex: 3;
  }
  
  .box03 {
    margin-top: auto;
    margin-left: auto;
  }
  
  .info {
    font-size: 20px;
  }
  
  h2 {
    margin: 0px;
    font-size: 40px;
    color: black;
  }
  
  .custom-font {
    font-family: 'Nanum Gothic Coding', monospace;
  }
  
  .mbti {
    margin-top: 10px;
    color: black;
    color: black;font-size: 40px;
  }
  
  .des {
    font-size: 40px;
    color: black;
    margin-top: 10px;
  }
  
  .blog_url {
    margin-bottom: 0;
    font-size: 40px;
    color: white;
  }
  .planet_detail::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: url(../static/bg2.jpg) no-repeat center center/cover;
    opacity: 0.5;
    z-index: -1;
}
  
  .planet_detail05 {
    width: 300px;
    height: 300px;
    background-image: url(../static/Jihunz.jpg);
    border-radius: 20px;
    background-position: center 50%;
    background-size: cover;
  }
  
  .planet_detail .bottom > button {
    display: block;
    margin: 0 0 0 auto;
  }
  
  .bottom {
    width: 1300px;
    margin: 0 auto;
    border-top: 1px dotted rgba(0, 0, 0, 0.5);
    background-color: white;
  }
  
  .card_area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
    column-gap: 28px;
    background-color: white;
    margin: 0px;
    padding: 0px;
  }
  
  .card_img {
    width: 302.5px;
    height: 302.5px;
    object-fit: cover;
  }
  
  .card_txt {
    display: none;
    width: 302.5px;
    height: 302.5px;
    border: 10px double #ea9e9e;
  }
  
  a {
    text-decoration: none;
    outline: none;
    color: #333;
  }
  
  .card_txt a {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  input {
    display: block;
  }
  
  .card_area_edit01 {
    display: none;
  }
  
  .card_area_edit02 {
    display: none;
  }
  
  .card_edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }
  
  .card_edit.up {
    z-index: 1;
  }
  
  .card_edit .left {
    flex: 1;
  }
  
  .card_edit .card_img {
    width: 400px;
    height: 400px;
  }
  
  .card_edit .right {
    flex: 1;
  }
  
  .c_title {
    width: 360px;
    padding: 10px 20px;
    margin: 10px auto;
  }
  
  .close {
    display: block;
    margin-left: auto;
  }
  
  .c_txt {
    width: 360px;
    height: 200px;
    padding: 10px 20px;
    margin: 10px auto;
  }
  
  .c_url {
    width: 360px;
    padding: 10px 20px;
    margin: 10px auto;
  }
  
  .pw_button {
    display: flex;
    flex-direction: row;
  }
  
  .c_pw {
    flex: 2;
    width: 100%;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .submit {
    flex: 1;
    width: auto;
    margin-right: 10px;
  }
  
  .delete {
    flex: 1;
    width: auto;
    margin-right: 20px;
  }
  
  .ce_title {
    width: 360px;
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 25px;
  }
  
  .ce_txt {
    width: 360px;
    height: 200px;
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 17px;
  }
  
  .ce_url {
    width: 360px;
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 15px;
  }
  