body {
  font-family: 'Dongle', sans-serif;
}

.bimg {
  margin: 0px;
  background-color: lightcyan;
  background-size: cover;
}

.home {
  margin: 0px auto auto 0px;
  background-color: #e8c7c7;
  border: 0;
  height: 30px;
}

.top {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;

  border-bottom: 20px solid aliceblue;
  background-image: url(../static/number2.webp);
  background-position: center 60%;
  background-size: cover;
}

.box01 {
  flex: 1;
}

.box02 {
  height: 250px;
  display: flex;
  flex-direction: column;
  flex: 3;
}

.box03 {
  margin-top: auto;
  margin-left: auto;
}

.info {
  font-size: 20px;
}

h2 {
  margin: 0px;
  font-size: 29px;
  color: black;
}

.custom-font {
  font-family: 'Nanum Gothic Coding', monospace;
}

.mbti {
  margin-top: 10px;
  color: white;
  font-size: 30px;
}

.des {
  font-size: 40px;
  margin-top: 10px;
}

.blog_url {
  margin-bottom: 0;
  font-size: 25px;
}

.planet_detail02 {
  width: 300px;
  height: 300px;
  background-image: url(../static/n2.jpg);
  border-radius: 20px;
  background-position: center 100%;
  background-size: cover;
}

.planet_detail .bottom > button {
  display: block;
  margin: 0 0 0 auto;
}

#mybgm {
  background-color: #e8c7c7;
  border: 0;
  margin-bottom: o;
  height: 30px;
}

#myif {
  display: block;
}

.bottom {
  width: 1300px;
  margin: 0 auto;
  border-top: 1px dotted rgba(0, 0, 0, 0.5);
  background-color: aliceblue;
}

.card_area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 25px;
  column-gap: 28px;
  background-color: lightcyan;
  margin: 0px;
  padding: 0px;
}

.card_img {
  width: 302.5px;
  height: 302.5px;
  object-fit: cover;
}

.card_txt {
  display: none;
  width: 302.5px;
  height: 302.5px;
  border: 10px double #ea9e9e;
}

a {
  text-decoration: none;
  outline: none;
  color: #333;
}

.card_txt a {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
