<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="../static/index.css">
    <title>털뭉치즈 스페이스</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../static/index.js"></script>
</head>

<body>
    <div class="Wrap">
        <div class="title">
            <h1>털뭉치즈🐾</h1>
            <p>털뭉치들이 세상을 구한다! 집사 둘, 몽집사 하나, 랜선집사 둘</p>
        </div>
        <div class="planet inner">
            <div class="planet01">
                <a href="/1">
                    <figure class="planet_img_01"></figure>
                    <p class="planet_title">재훈의 행성</p>
                </a>
            </div>
            <div class="planet02">
                <a href="/2">
                    <figure class="planet_img_02"></figure>
                    <p class="planet_title">명흠의 행성</p>
                </a>
            </div>
            <div class="planet03">
                <a href="/3">
                    <figure class="planet_img_03"></figure>
                    <p class="planet_title">서경의 행성</p>
                </a>
            </div>
            <div class="planet04">
                <a href="/4">
                    <figure class="planet_img_04"></figure>
                    <p class="planet_title">탁근의 행성</p>
                </a>

            </div>
            <div class="planet05">
                <a href="/5">
                    <figure class="planet_img_05"></figure>
                    <p class="planet_title">지훈의 행성</p>
                </a>
            </div>
        </div>
        <div class="guestBook_wrap">
            <div class="guest_title">
                <h2>방명록✍</h2>
                <p>여러분의 한마디는 집사들의 츄르벌이에 큰 힘이 됩니다.🙏</p>
            </div>
            <!-- 여기는 방명록 자리 -->
            <div class="guest_book">
                <div class="guest_write">
                    <input placeholder="내용을 입력하세요." class="guest_comment" type="textarea">
                    <input placeholder="닉네임" class="guest_name" type="text">
                    <button class="guest_submit">submit!</button>
                </div>
                <div class="guest_card">
                    <p class="guest_comment">안녕하세요 반갑습니다 안녕하세요 반갑습니다.</p>
                    <p class="guest_name">서경</p>
                    <p class="guest_time">20220401</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>