<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/member_detail1.css">
    <link rel="stylesheet" href="../static/common.css">
    <title>기철의 행성</title>
</head>

<body>
    <div class="planet_detail">
        <div class="top">
            <div class="box01">
                <figure class="planet_detail01"></figure>
            </div>
            <div class="box02">
                <h2>양기철 매니저</h2>
                <p class="mbti">INFP</p>
                <p class="des">설명 입력</p>
                <div class="blog_url">
                    <a target="_blank" href="https://www.instagram.com/hanmariyang/">www.instagram.com/hanmariyang
                    </a>
                </div>
            </div>
            <div class="box03">
                <div class="bgm">
                    <button>bgm on</button>
                </div>
            </div>
        </div>
        <div class="bottom">
            <button>+</button>
            <div class="card_area">
                <div class="card_img">
                    <img src="" alt="">
                </div>
                <div class="card_txt">
                    <h3>카드 제목입니다.</h3>
                    <p>카드 내용입니다.</p>
                </div>
            </div>
        </div>
        <div class="card_edit">
            <div class="left">
                <div class="card_img">
                    <img src="" alt="">
                </div>
            </div>
            <div class="right">
                <input type="text">
                <input type="textarea" maxlength="20">
                <input type="password" maxlength="4">
                <button>게시</button>
            </div>
        </div>
</body>

</html>