<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/popup.css">
    <link rel="stylesheet" href="../static/member_detail3.css">
    <title>@MYLITTLECHEEZ</title>
</head>

<body>
    <div class="planet_detail">
        <div class="top">
            <div class="box01">
                <figure class="planet_detail01"></figure>
            </div>
            <div class="box02">
                <h2>태서경</h2>
                <p class="mbti">INFJ</p>
                <p class="des">집사는 집사하느라 집 못사지만 코딩해서 집사자!
                </p>
                <div class="blog_url">
                    <a target="_blank" href="https://tae-seokyoung.tistory.com/">코딩, 해볼까
                        https://tae-seokyoung.tistory.com/
                    </a>
                </div>
            </div>
            <div class="box03">
                <!-- <div class="bgm">
                    <audio autoplay controls>
                        <source src="https://www.youtube.com/watch?v=5v1TOFULOWA" type="audio/mp3">
                    </audio>
                    <audio autoplay controls>
                        <source src="https://www.youtube.com/watch?v=5v1TOFULOWA" type="audio/mp3">
                    </audio>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2AH5l-vrY9Q"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <button>bgm on</button>
                </div> -->
            </div>
        </div>
        <div class="bottom">
            <button>+</button>
            <div class="card_area">
                <div class="card_img">
                    <a href="#">
                        <img style="width: 302.5px; height: 302.5px; object-fit:cover;"
                            src="../static/_126241775_getty_cats.jpeg" alt="">
                    </a>
                </div>
                <div class="card_txt">
                    <a href="">
                        <h3>카드 제목입니다.</h3>
                        <p>카드 내용입니다.</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="popup-wrap" id="popup">
            <div class="popup">
                <div class="popup-body">
                    <button class="close_popup_btn">X</button>
                    <iframe src="/popupd/3/a" id="popup_iframe" class="iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>

</html>