<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/popup.css">
    <link rel="stylesheet" href="../static/member_detail3.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="../static/member_detail3.js"></script>
    <title>MYLITTLECHEEZ</title>
</head>
<script>
    let member_num = "{{ member_num_give }}";
</script>

<body>
    <div class="planet_detail">
        <div class="top">
            <div class="box01">
                <img src="../static/planet-tsk2.png" class="planet_detail03"></img>
            </div>
            <div class="box02">
                <div class="flex">
                    <h2>mylittlecheez</h2>
                    <button>bgm on 🎵</button>
                </div>
                <div class="flex">
                    <p class="mbti"><span>mbti</span>INFJ</p>
                    <p class="commit"><span>commit</span>525</p>
                    <p class="insta"><span>팔로워</span>1071</p>
                </div>
                <p class="myname">태서경의 행성🪐🌌</p>
                <p class="des">집사는 집사하느라 집 못사지만 코딩해서 집사자!
                </p>
                <div class="blog_url">
                    <a target="_blank" href="https://tae-seokyoung.tistory.com/">코딩, 해볼까
                        https://tae-seokyoung.tistory.com/
                    </a>
                </div>
            </div>
        </div>
        <div class="middle">
            <button class="plus" id="openp">+</button>
        </div>
        <div class="bottom">
            <div class="card_area" id="card_area">
                <div class="card_img open_card">
                    <a href="#">
                        <img style="width: 302.5px; height: 302.5px; object-fit:cover; border-radius: 5px;"
                            src="../static/_126241775_getty_cats.jpeg" alt="">
                    </a>
                </div>
                <div class="card_txt open_card">
                    <a href="">
                        <h3>카드 제목입니다.</h3>
                        <p>카드 내용입니다.</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="popup-wrap" id="popup">
            <div class="popup">
                <div class="popup-body">
                    <button class="close_popup_btn">X</button>
                    <iframe src="/popupd/3/a" id="popup_iframe" class="iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- 상세보기 팝업 -->
    <div class="popup-wrap popupd-wrap" id="popupd">
        <div class="popup">
            <div class="popup-body">
                <button id="close_popupd" class="close_popup_btn close_popupd_btn">
                    X
                </button>
                <iframe src="" id="popupd_iframe" class="iframe"></iframe>
            </div>
        </div>
    </div>

    <!-- 비밀번호 팝업 -->
    <div class="popup-wrap popupp-wrap" id="popupp">
        <div class="popup">
            <div class="popup-body">
                <button id="close_popupp" class="close_popup_btn close_popupp_btn">
                    X
                </button>
                <iframe src="" id="popupp_iframe" class="iframe"></iframe>
            </div>
        </div>
    </div>
</body>

</html>