<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/member_detail4.css">
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/popup.css">
    <title>탁근의 행성</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="../static/member_detail4.js"></script>
</head>

<script>
    let member_num = "{{ member_num_give }}";
</script>

<body>
    <div class="planet_detail">
        <div class="top">
            <div class="box01">
                <figure class="planet_detail01"></figure>
            </div>
            <div class="box02">
                <h2>let name = '노탁근'</h2>
                <span class="script_tag">&lt;script&gt;</span>
                <span class="mbti">let MBTI = 'INTJ'</span>
                <div class="blog_url">
                    <span>let blog_url = 'https://n999.tistory.com/'</span><br>
                    <a target="_blank" href="https://n999.tistory.com/">console.log(blog_url)</a>
                </div>
                <span class="script_tag">&lt;/script&gt;</span>
                <a href="#" class="open_popupp">@</a>
            </div>
            <div class="box03">
                <div class="bgm">
                </div>
            </div>
        </div>

        <div class="bottom">
            <div id="card_area" class="card_area">
                <div class="card_img open_card" name="a">
                    <a href="#">
                        <img style="width: 302.5px; height: 302.5px; object-fit:cover;"
                            src="../static/_126241775_getty_cats.jpeg" alt="">
                    </a>
                </div>
                <div class="card_txt open_card" name="a">
                    <a href="#">
                        <h3>카드 제목입니다.</h3>
                        <p>카드 내용입니다.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 상세보기 팝업 -->
    <div class="popup-wrap popupd-wrap" id="popupd">
        <div class="popup">
            <div class="popup-body">
                <button id="close_popupd" class="close_popup_btn close_popupd_btn">X</button>
                <iframe src="#" id="popupd_iframe" class="iframe"></iframe>
            </div>
        </div>
    </div>

    <!-- 비밀번호 팝업 -->
    <div class="popup-wrap popupp-wrap" id="popupp">
        <div class="popup">
            <div class="popup-body">
                <button id="close_popupp" class="close_popup_btn close_popupp_btn">X</button>
                <iframe src="#" id="popupp_iframe" class="iframe"></iframe>
            </div>
        </div>
    </div>

    <!-- 관리창 팝업 -->
    <!-- <div class="popup-wrap popupe-wrap" id="popupe">
        <div class="popup">
            <div class="popup-body">
                <button id="close_popupe" class="close_popup_btn close_popupe_btn">X</button>
                <iframe src="#" id="popupe_iframe" class="iframe"></iframe>
            </div>
        </div>
    </div> -->

</body>

</html>