<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/popup.css">
    <title>비밀번호 입력</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="/static/popup_password.js"></script>
    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }
    </style>
</head>

<script>
    let member_num = {{ member_num }};
    let object_id = {{ object_id }};
</script>

<body>
    <div class="wrap">
        <div class="popup_password">
            <input style="font-family: 'Noto Sans KR'" placeholder="비밀번호" onfocus="this.placeholder=''"
                onblur="this.placeholder='비밀번호'" class="c_pw" type="password"
                onkeydown="if (event.keyCode === 32) return false;">
            <button class="popup_submit_btn">확인</button>
        </div>
    </div>
    </div>
    </div>
</body>

</html>