<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/popup.css">
    <title>컨텐츠 관리창</title>
    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="popup_modify">
            <div class="popup_contents">
                <div class="left">
                    <div class="photo">
                        <img src="https://i.postimg.cc/TwPvd3cg/no-image.png" alt="">
                    </div>
                </div>
                <div class="right">
                    <div class="right_title">
                        <div class="color">노랑</div>
                        <p class="name">태서경</p>
                    </div>
                    <div class="right_input">
                        <input style="font-family: 'Noto Sans KR'; font-size: 11px" placeholder="제목"
                            onfocus="this.placeholder=''" onblur="this.placeholder='제목'" class="ce_title" type="text"
                            onkeydown="if (event.keyCode === 32) return false;">
                        <input style="font-family: 'Noto Sans KR'; font-size: 11px" placeholder="내용"
                            onfocus="this.placeholder=''" onblur="this.placeholder='내용'" class="ce_txt" type="password"
                            onkeydown="if (event.keyCode === 32) return false;">
                        <input style="font-family: 'Noto Sans KR'; font-size: 11px" placeholder="이미지 URL"
                            onfocus="this.placeholder=''" onblur="this.placeholder='이미지 URL'" class="ce_url"
                            type="password" onkeydown="if (event.keyCode === 32) return false;">
                    </div>
                    <div class="bottom_button">
                        <button class="popup_submit btn">이미지 미리보기</button>
                        <button class="popup_delete btn">삭제</button>
                        <button class="popup_edit btn">수정</button>
                        <button class="popup_add btn">추가</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>